<web-app>
  <display-name>Archetype Created Web Application</display-name>
 
    <servlet>
        <servlet-name>simpleServlet</servlet-name>
        <servlet-class>com.example.demo.DemoApplication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>simpleServlet</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>
 
</web-app>